<launch>

	<arg name="rviz" default="true" />

	<rosparam command="load" file="$(find Global-LVBA)/config/config.yaml" />

	<node pkg="Global-LVBA" type="lidar_visual_ba" name="lv_ba" output="screen"/>

	<!-- <group if="$(arg rviz)">
		<node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz" args="-d $(find Global-LVBA)/rviz_cfg/lv_ba.rviz" />
	</group> -->
launch-prefix="gdb -ex run --args"
</launch> 	
